:root {
    --accent-color: #2196f3;
    --primary-text-color: #757575;
    --second-color: #212121;
    --third-color: #ffffff;
    --icon-color: #afb1b8;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--third-color);
    font-size: 14px;
    color: var(--primary-text-color);
    letter-spacing: 0.03em;
}